<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" class="w-6/12 justify-center">
  {% csrf_token %}
  <div class="flex flex-grow items-stretch">
    {{ form }}
    <button class="bg-red-600 font-medium md:font-normal flex justify-center items-center py-2 px-3 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl" type="submit">
      <span>
        Acessar
      </span>
      <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
    </button>
  </div>
</form>
</body>
</html>